<div class="container mainform">
    <div class="panel panel-primary">
      <div class="panel-body form-horizontal">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <label for="lastname">Last Name</label><br>
            <input type="text" id="price" name="price" maxlength="10" value="">
            <button class="btn btn-primary btn-center">Search Customer Record</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>