<div class="container mainform">
  <form name="clientform" method="post" action="scripts/csr/savevalues.php">
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Client Information</div>
      <div class="panel-body form-horizontal">
        <div class="row">
          <div class="col-md-4">
            <label for="firstname">First name</label><br>
            <input type="text" id="firstname" name="firstname" maxlength="50">
          </div>
          <div class="col-md-4">
            <label for="lastname">Last name</label><br>
            <input type="text" id="lastname" name="lastname" maxlength="50">
          </div>
          <div class="col-md-4">
            <label for="phone">Primary phone</label><br>
            <input type="text" id="phone" name="phone" maxlength="50">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="address1">Address</label><br>
            <input type="text" id="address1" name="address1" maxlength="100">
          </div>
          <div class="col-md-8">
            <label for="addresscity">City</label><br>
            <input type="text" id="addresscity" name="addresscity" maxlength="50">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="addressstate">State</label><br>
            <select id="addressstate" name="addressstate" onchange="loadCounty('addresscounty','addressstate')">
              <option value="">---Please select a state---</option>
              <option value="DELAWARE">DELAWARE</option>
              <option value="INDIANA">INDIANA</option>
              <option value="KENTUCKY">KENTUCKY</option>
              <option value="MARYLAND">MARYLAND</option>
              <option value="OHIO">OHIO</option>
              <option value="PENNSYLVANIA">PENNSYLVANIA</option>
              <option value="VIRGINIA">VIRGINIA</option>
              <option value="WEST VIRGINIA">WEST VIRGINIA</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="addresscounty">County</label><br>
            <select id="addresscounty" name="addresscounty">
                <option value=""></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="addresszipcode">Zip code</label><br>
            <input type="text" id="addresszipcode" name="addresszipcode" maxlength="5">
          </div>
        </div>

        <hr class="double"/>
        
        <div class="row">
          <div class="col-md-4">Tank Details</div>
          <div class="col-md-4">
            <label for="tankownership">Tank ownership</label><br>
            <select id="tankownership" name="tankownership">
              <option value=""></option>
              <option value="Owned">Owned</option>
              <option value="Leased">Leased</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="tanksize">Tank size</label><br>
            <input type="text" id="tanksize" name="tanksize" maxlength="50">
          </div>
        </div>

        <hr class="double"/>

        <div class="row">
          <div class="col-md-12">
            Billing Address ( <input type="checkbox" id="sameasaddress" name="sameasaddress"><label for="sameasaddress">Same as address</label> )
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="billingaddress">Billing address</label><br>
            <input type="text" id="billingaddress" name="billingaddress" maxlength="100">
          </div>
          <div class="col-md-8">
            <label for="billingcity">City</label><br>
            <input type="text" id="billingcity" name="billingcity" maxlength="50">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="billingstate">State</label><br>
            <select id="billingstate" name="billingstate">
              <option value="">---Please select a state---</option>
              <option value="DELAWARE">DELAWARE</option>
              <option value="INDIANA">INDIANA</option>
              <option value="KENTUCKY">KENTUCKY</option>
              <option value="MARYLAND">MARYLAND</option>
              <option value="OHIO">OHIO</option>
              <option value="PENNSYLVANIA">PENNSYLVANIA</option>
              <option value="VIRGINIA">VIRGINIA</option>
              <option value="WEST VIRGINIA">WEST VIRGINIA</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="billingzipcode">Zip code</label><br>
            <input type="text" id="billingzipcode" name="billingzipcode" maxlength="5">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="cardtype">Card type</label><br>
            <select id="cardtype" name="cardtype">
              <option value=""></option>
              <option value="">Visa</option>
              <option value="">Mastercard</option>
              <option value="">American Express</option>
              <option value="">Discover</option>
              <option value="">Others</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="cardnumber">Card number</label><br>
            <input type="text" id="cardnumber" name="cardnumber" maxlength="19">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="expirationdate">Expiration date</label><br>
            <input type="text" id="expirationdate" name="expirationdate" maxlength="10">
          </div>
          <div class="col-md-4">
            <label for="cvv">CVV</label><br>
            <input type="text" id="cvv" name="cvv" maxlength="3">
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Call Status</div>
      <div class="panel-body form-horizontal">
        <div class="row">
          <div class="col-md-8">
            Remarks<br/>
            <textarea rows="2" id="remarks" name="remarks"></textarea>
          </div>
          <div class="col-md-4">
            <p align="right">
              Disposition
              <select id="disposition" name="disposition">
                <option value="New customer">New customer</option>
              </select>
              <br/><br/>
              <input type="hidden" id="refererpage" name="refererpage" value="{@refererpage}">
              <input type="hidden" id="userid" name="userid" value="{@userid}">
              <input type="hidden" id="user" name="user" value="{@user}">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>