<div class="container searchform">
    <div class="panel panel-primary">
      <div class="panel-body form-horizontal">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <label for="lastname" class="control-label col-sm-3">Last Name</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="control-label col-sm-3">Email</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="phone" class="control-label col-sm-3">Phone Number</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <hr/>
            <div class="form-group">
              <label for="address" class="control-label col-sm-3">Address</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="city" class="control-label col-sm-3">City</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="state" class="control-label col-sm-3">State</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="county" class="control-label col-sm-3">County</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="zipcode" class="control-label col-sm-3">ZIP</label>
              <div class="col-sm-8">
                <input type="text" id="lastname" name="lastname" class="form-control" maxlength="50" value="">
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-center">Search Customer Record</button>
              <button class="btn btn-primary btn-warning">Clear Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>